@model IEnumerable<PassionProject.Models.Track>;

@{
    ViewData["Title"] = "Tracks";
}

<h1>Tracks Index</h1>

<a class="crudButton" asp-action="Create">Add Track</a>
<table class="table">
    <thead>
        <tr>
            <th>Track Title</th>
            <th>Track Length</th>
            <th>Album Id</th>
            <th class="crudButton">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var track in Model)
        {
            <tr>
                <td>@track.TrackTitle</td>
                <td>@track.TrackLength</td>
                <td>@track.AlbumId</td>
                <td class="crudButton">
                    <a asp-action="Edit" asp-route-id="@track.TrackId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@track.TrackId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (!userAuthorized) {
        var crudbuttons = document.querySelectorAll(".crudButton");
        crudbuttons.forEach(btn => {
            btn.style.display = "none";
        })
    }
</script>