@model PassionProject.Models.CardAlbum

@{
    ViewData["Title"] = "Create Card-Album Relationship";
}

<h1>@ViewData["Title"]</h1>

<h3>Create New Card-Album Relationship</h3>
<hr />

<form method="POST" asp-action="Create">
    <div class="form-group">
        <label asp-for="CardId">Card</label>
        <select id="CardId" name="CardId" class="form-control" asp-for="CardId">
            <option value="">Select a Card</option>
            @foreach (var card in ViewData["CardId"] as SelectList)
            {
                <option value="@card.Value">@card.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="AlbumId">Album</label>
        <select id="AlbumId" name="AlbumId" class="form-control" asp-for="AlbumId">
            <option value="">Select an Album</option>
            @foreach (var album in ViewData["AlbumId"] as SelectList)
            {
                <option value="@album.Value">@album.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label asp-for="YoutubeEmbedUrl" class="control-label"></label>
        <input asp-for="YoutubeEmbedUrl" class="form-control" placeholder="Enter YouTube embed URL" />
        <span asp-validation-for="YoutubeEmbedUrl" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary" value="Create">Create</button>
    <a href="/CardAlbums/Index" class="btn btn-secondary">Back to List</a>
</form>