@model PassionProject.Models.CardAlbum

@{
    ViewData["Title"] = "Edit Card-Album Relationship";
}

<h1>@ViewData["Title"]</h1>

<h3>Edit Card-Album Relationship</h3>
<hr />

<form method="post" asp-action="Edit">
    <div class="form-group">
        <label for="CardId">Card</label>
        <select id="CardId" name="CardId" class="form-control" asp-for="CardId">
            <option value="">Select a Card</option>
            @foreach (var card in ViewData["CardId"] as SelectList)
            {
                <option value="@card.Value">@card.Text</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="AlbumId">Album</label>
        <select id="AlbumId" name="AlbumId" class="form-control" asp-for="AlbumId">
            <option value="">Select an Album</option>
            @foreach (var album in ViewData["AlbumId"] as SelectList)
            {
                <option value="@album.Value">@album.Text</option>
            }
        </select>
    </div>

    <div>
        <input type="submit" value="Save" />
    </div>
    <a href="/CardAlbums/Index" class="btn btn-secondary">Back to List</a>
</form>