@model IEnumerable<PassionProject.Models.CardAlbum>

    @{
        ViewData["Title"] = "Card Albums Index";
    }

    <h1>@ViewData["Title"]</h1>

    <p>
        <a class="btn btn-primary crudButton" href="@Url.Action("Create")">Create New Album</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Card</th>
                <th>Album</th>
            <th class="crudButton">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.Card.CardName</td>
                <td>@item.Album.AlbumTitle</td>
                <td class="crudButton">
                    <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-warning">Edit</a>
                    <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger">Delete</a>
                    <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

<script type="text/javascript">
    var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();
    if (!userAuthorized) {
        var crudbuttons = document.querySelectorAll(".crudButton");
        crudbuttons.forEach(btn => {
            btn.style.display = "none";
        })
    }
</script>